﻿@model AppPedido.Models.AddProductView

@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>AddProductView</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Categoryid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Categoryid", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Categoryid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Productid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Productid", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Productid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @readonly= "readonly" } })
            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#add").click(function () {
            if ($(this).valid()) {
                $("#add").prop("disabled", true);
                $("#frm").submit();
        }
    })
    $(document).ready
        (
        function () {
            $("#Categoryid").change(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetProducts")',
                    dataType: 'json',
                    data: { Categoryid: $("#Categoryid").val() },
                    success: function (products) {
                        $("#Productid").empty();
                        $.each(products, function (i, product) {
                            $("#Productid").append('<option value="' + product.Value + '">' + product.Text + '</option>');
                        });
                        //$("#Productid").attr("value", 0);
                    },
                });
            })
        }
        )
      $(document).ready(function () {
            $("#Productid").change(function () {
                $("#UnitPrice").empty;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetUnitPrice")',
            dataType: 'json',
            data: { Productid: $("#Productid").val()},
            success: function (unitpice) {
                $("#UnitPrice").prop("value", unitpice);
            },
        });
        return false;
    })
    })
    </script>


}

