﻿@model AppPedido.Models.OrderHeader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.DocumentNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.DocumentNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Linea
            </th>
            <th>
                Numero Producto
            </th>
            <th>
                Titulo Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio unitario
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetailLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </table>
}

